.login-page {
  background: linear-gradient(to bottom, #5000fb, #000000);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.form-container {
  background: rgba(255, 255, 255, 0.8);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(255, 0, 0, 0.2);
}
